body {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp3182801.png");
}
table {
  border-collapse: collapse;
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
  border: solid #424242;
  border-width: 7px 7px 7px 7px;
  text-align: center;
  font-size: 50px;
}

.reiniciar {
  background-color: transparent;
  border: none;
  color: #424242;
  cursor: pointer;
  font-size: 4vh;
  font-weight: bold;
  margin-top: 5vh;
}
